
.header1{
    background-color: beige;
    width: 520;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options a{
    color: black
}

.aboutMe h2{
    color: red;
}

.footer a{
    color: black;
}
